@model TopSwagCode.AspNetCore.Beacon.Models.BeaconListResponse

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Beacons</h1>
    <p>Here we can see a list of beacons received.</p>
    
    <p>
        @foreach (var sessionAnalytic in Model.Beacons)
        {
            <h3>SessionUid: @sessionAnalytic.SessionUid</h3>
            <h3>User: @(string.IsNullOrEmpty(sessionAnalytic.UserId) ? "Unknown user" : sessionAnalytic.UserId )</h3>
            <ul>
                @foreach (var analytic in sessionAnalytic.Analytics)
                {
                    <li>@analytic.ToString()</li> 
                }
            </ul>
        }
    </p>
    
</div>
